@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Open+Sans:ital,wght@1,400&family=Orbitron&family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;

  color: #f3f3f3;
  background: radial-gradient(#bbc0c0, #000000);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}


main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  
}

#works {
  margin: 3rem auto;
}

#works h2 {
  text-align: left;
  color: #f3f3f3;
}

#works menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  
}

#works menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color:transparent;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#works menu button:hover {
  background-color: #000000;
  color: #ebe7ef;
}

#works menu button.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}


